@import './font.scss';

.footer{
    &-ctn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-text{
        font-family: 'Nunito-sans-regular';
        font-size: 20px;
    }
}