@import './font.scss';
@import './variables.scss';

.opt{
    &-drop{
        &-ctn{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:flex-start;
            position:relative;
            width:70px;
            margin: 0 10px 0 10px;
            background-color: white;          
            border-radius: 7.5px;
            box-shadow: rgb(125, 124, 124) 0 4px 4px;
            font-family: 'Nunito-sans-regular';
            font-size: 20px;            
        }
        &-menu{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            position:absolute;            
            top:24px;
            width:70px;
            background-color: white;
            border-radius: 0 0 7.5px 7.5px;
            box-shadow: rgb(125, 124, 124) 0 4px 4px;            
        }
        &-option{
            margin-left: 5px;
            cursor: pointer;
        }
    }
    &-choice{
        &-first-open{
            color: #c9c9c9;
            padding:0 0 8px 5px;
        }
        &-ctn{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width:70px;
            height:30px;
            & span{
                margin-left: 5px;
            }
        }
        &-btn{
            border: none;
            background-color: transparent;
            cursor: pointer;
            width:20px;
            height:20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 5px;
            &-icon{
                width:17.5px;
                height:17.5px;
            }
        }
    }
}